.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 2px;
  grid-template-areas: "d d d d d" "d d d d d" "d d d d d" "p b c i q " "r j k w m" "l t y u s" "n z x h a" "f o v e e"
}

.display {
  grid-area: d;
  text-align: right;
}

.one {
  grid-area: z;
}

.two {
  grid-area: x;
}

.three {
  grid-area: h;
}

.four {
  grid-area: t;
}

.five {
  grid-area: y;
}

.six {
  grid-area: u;
}

.seven {
  grid-area: j;
}

.eight {
  grid-area: k;
}

.nine {
  grid-area: w;
}

.zero {
  grid-area: o;
}

.backspace {
  grid-area: b;
}

.clear {
  grid-area: c;
}

.power {
  grid-area: p;
}

.divide {
  grid-area: q;
}

.pi {
  grid-area: i;
}

.log {
  grid-area: l;
}

.logNatural {
  grid-area: n;
}

.multiply {
  grid-area: m;
}

.subtract {
  grid-area: s;
}

.add {
  grid-area: a;
}

.equals {
  grid-area: e;
}

.decimal {
  grid-area: f;
}

.empty {
  grid-area: v;
}

.sqRt {
  grid-area: r;
}

.input {
  text-align: right;
}